build/**
tags
TAGS
/buildgame.old
/buildgame
deps/nob
deps/deps
deps/raylib/**
deps/libraylib.a
/deps/raylib/
/deps/deps.old
.idea/
.cache/clangd/
compile_commands.json
/deps/libraylib.web.a
*.exe
*.old
*.lib
